{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="my-3 w-75 mx-auto border">
    <h1 class="text-center my-3">{% trans "Sign In" %}</h1>

    <div class="mx-5">
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
          <button class="primaryAction btn button_green my-3" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}
