.small {
    font-size: large;
}

.big {
    font-size: xx-large;
}

.nav-link:hover {
    border:2px; 
    background-color: rgb(148, 222, 140);
}

.btn-red {
    background: rgb(238, 74, 74);
}

.btn-cream {
    background: rgb(248, 232, 151);
}

.green {
    color: rgb(54, 169, 42);
}

.pressed {
    background-color: rgb(148, 222, 140);
    color:white;
}

footer {
    bottom: 0;
}