@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:wght@200;300;400;500;600&display=swap');

body {
    font-family: Raleway;
}

.small {
    font-size: large;
}

.medium {
    font-size: x-large;
}

.big {
    font-size: xx-large;
}

/* Navigation styling */
.nav-link:hover {
    border:2px; 
    border-radius: 5%;
    background-color: rgb(148, 222, 140);
}

.pressed {
    background-color: rgb(148, 222, 140);
    border-radius: 5%;
    color:white;
}

/*Image Styling*/

.img {
    width:100%;
    height:50vh;
    z-index:-1;
}

/* Menu Styling */

.pink {
    background-color: rgb(249, 213, 248);
}

.verde {
    background-color: rgb(215, 252, 212);
}

.yellow {
    background-color: rgb(253, 253, 198);
}

/* Styling buttons */

.button_green {
    background-color: rgb(19, 180, 19);
    color:white;
}

.button_green:hover {
    background-color: rgb(19, 75, 180);
    color:white;
}

.btn-red {
    background: rgb(238, 74, 74);
}

.btn-red:hover {
    background-color: rgb(164, 33, 33);
}

.btn-cream {
    background: rgb(248, 232, 151);
}

.btn-cream:hover {
    background-color: rgb(249, 193, 136) ;
}

/*Styling lists*/

ul {
    list-style-type: none;
}

.green {
    color: rgb(54, 169, 42);
}

/* Media query max width 768px for small devices */
@media screen and (max-width: 768px) {
    .pressed {
        border-radius: 0;
        padding: 5px;
    }
}