{% extends "base.html" %}

{% block content %}

<div class="my-5 text-center">
    {% if user.is_authenticated %}
        <a class="btn button_green big"href="{% url 'add_booking' %}">Make a booking</a>
    {% else %}
        <h2>Please login before making a booking</h2>
        <a class="btn button_green small mt-6" href="{% url 'account_login' %}">Login</a>
        <p></p>
        <h3>Don't have an account?</h3>
        <a class="btn button_green small" href="{% url 'account_signup' %}">Sign up now</a>
    {% endif %}
</div>

{% endblock %}
