{% extends "base.html" %}

{% block content %}

<div class="">
    <div class="text-center my-3 col-12">
        <h1>Contacts</h1>
        <h3>If you have any queries, don't hesitate to contact us</h3>
    </div>
    <div class="mt-3 col-12 medium text-center d-flex justify-content-center">
        <p>You can find us at:</p>
        <ul>
            <li class="d-flex"><strong class="green">Email: </strong>hello@awesomedishes.ie</li>
            <li class="d-flex"><strong class="green">Phone: </strong>012889374/012889454</li>
            <li class="d-flex"><strong class="green">Website: </strong>www.awesomedishes.ie</i>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
