{% extends "base.html" %}

{% block content %}

<div class="mt-3"></div>

    <div class="container">
        <div class="row text-center">
            <h1 class="pb-3">Menu</h1>
        </div>
        <div class="row">
            <div class="col pink">
                <h4 class="text-center medium"><strong>Starter</strong></h4>
                <ul>
                    <li class="my-2">Asian Style Oysters</li>
                    <li class="my-2">Smoked Salmon Platter</li>
                    <li class="my-2">Antipasto Bruschetta</li>
                    <li class="my-2">Bacon and Chive Tarts</li>
                    <li class="my-2">Barbecued Piri Piri Prawns</li>
                    <li class="my-2">Avocado and Prawn Cocktail</li>
                    <li class="my-2">Prawn and Ginger Dumplings</li>
                    <li class="my-2">Miso Soup</li>
                    <li class="my-2">Classic Canepe Trio</li>
                    <li class="my-2">Blooming Onion</li>
                    <li class="my-2">Bacon and Cheese Crocquets</li>
                    <li class="my-2">Sweet and Sour Chicken Wings</li>
                    <li class="my-2">Salt and Chilli Chicken</li>
                </ul>
            </div>
            <div class="col verde">
                <h4 class="text-center medium"><strong>Main Course</strong></h4>
                <ul>
                    <li class="my-2">Burger and Fries</li>
                    <li class="my-2">Butter Chicken with Naan</li>
                    <li class="my-2">Thai Green Chicken Curry with Jasmine Rice</li>
                    <li class="my-2">Steamed Fish with Coriander and Ginger</li>
                    <li class="my-2">Golden Breadcrumb Pasta</li>
                    <li class="my-2">Seafood Paella</li>
                    <li class="my-2">BBQ Lamb with Capsicum and Chermoula</li>
                    <li class="my-2">Vegetable Tempura Toshikoshi</li>
                    <li class="my-2">Seafood Biryani</li>
                    <li class="my-2">Sticky Chinese Pork Stir-Fry</li>
                </ul>
            </div>
            <div class="col yellow">
                <h4 class="text-center medium"><strong>Dessert</strong></h4>
            <ul>
                <li class="my-2">Oreo Cheesecake</li>
                <li class="my-2">Real Fruit Jellies</li>
                <li class="my-2">Chocolate Caramel Dessert Lasagne</li>
                <li class="my-2">Turkish Lemon Dessert Cake</li>
                <li class="my-2">Fairy Bread Dessert Lasagne</li>
                <li class="my-2">Ice Cream Delight</li>
                <li class="my-2">Passion Fruit Cream</li>
                <li class="my-2">Sticy Date Dessert Muffins</li>
                <li class="my-2">Lemon Drizzle</li>
                <li class="my-2">Apricot Slice</li>
            </ul>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}
