{% extends "base.html" %}

{% block content %}

<div class="mt-3"></div>

    <div class="container">
        <div class="row text-center">
            <h1 class="pb-3">Menu</h1>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">Starter</h4>
                <ul>
                    <li>Asian Style Oysters</li>
                </ul>
            </div>
            <div class="col">
                <h4 class="text-center">Main Course</h4>
                <ul>
                    <li>Burger and Fries</li>
                </ul>
            </div>
            <div class="col">
                <h4 class="text-center">Dessert</h4>
            <ul>
                <li>Oreo Cheesecake</li>
            </ul>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}
