{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col mt-3 left">
            <div class="row">
            {% for booking in booking_list %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Booking Reference:</h5>
                            </div>
                            <div class="col-5">
                                <a href="{% url 'edit_booking' booking.booking_id %}" class="btn btn-sm btn-cream">Modify Booking</a>
                                <a href="{% url 'delete_booking' booking.booking_id %}" class="btn text-white btn-sm btn-red">Delete Booking</a>
                            </div>
                        </div>
                        
                        <a href="">{{ booking.booking_id }}</a>
                        <p class="card-text col">
                            Booking Status: {% if booking.status == 1 %}
                            Booking Accepted
                            {% else %}
                            Booking Requested
                            {% endif %}
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">Booking Date: {{ booking.booking_date }}</li>
                            <li class="list-group-item">Booking Time: {{ booking.booking_time }}</li>
                            <li class="list-group-item">Number of Guests: {{ booking.number_guests }}</li>
                            <li class="list-group-item">Highchair: 
                                {% if booking.high_chair == True %}
                                Required
                                {% else %}
                                Not Required
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    {% endif %}
    </nav>
</div>

{% endblock %}
